html,body {
padding: 0;
margin: 0;
box-sizing: border-box;
height: 100%;
font-family: 'Times New Roman', Times, serif;
}
body {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.container.navigation{
    background-color: pink;
}
.container.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
div.nav-links a{
    padding: 20px;
}
footer{
    margin: auto;
}
